/* app/styles/globals.css */
@import "tailwindcss"; /* v4 single import */


:root {
  --bg-r: 255 255 255;
  --text-r: 17 24 39;
  --muted-r: 107 114 128;
  color-scheme: light;
}

.dark {
  --bg-r: 15 23 42;
  --text-r: 241 245 249;
  --muted-r: 148 163 184;
  color-scheme: dark;
}


/* simple helpers that use the CSS vars */
body {
  @apply antialiased min-h-screen;
  background-color: rgb(var(--bg-r));
  color: rgb(var(--text-r));
}

/* example util classes (optional) */
.text-muted { color: rgb(var(--muted-r)); }

.middle-icon{
  padding: 8px;
  border-radius: 6px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.middle-icon:hover{
  background-color: white;

}

.dark .logo{
  background-color: white;
  border-radius: 100% ;
  border: none;
  outline: none;
}

.dark .avatar{
  background-color: white;
  border-radius: 100% ;
  border: none;
  outline: none;
}
.dark .icon{
  background-color: white;
  border-radius: 100% ;
  border: none;
  outline: none;
}

.img-grad{
  background-image: linear-gradient( 270deg, rgb(236, 236, 236), rgb(168, 168, 168));
}

.video-grad{
  background-image: linear-gradient( 90deg, rgb(247, 190, 5), rgb(247, 190, 50));
}

.real-grad{
  background-image: linear-gradient( 180deg, rgb(32, 197, 247), rgb(228, 225, 225));
}

.enhance-grad{
  background-image: linear-gradient( 180deg, rgb(235, 66, 66), rgb(228, 223, 223));
}

.edit-grad{
  background-image: linear-gradient( 180deg, rgb(29, 28, 28), rgb(94, 4, 94), rgb(216, 214, 214));
}

.lip-grad{
  background-image: linear-gradient( 270deg, rgb(251, 255, 0), rgb(226, 240, 38));
}
.motion-grad{
  background-image: linear-gradient( 270deg, rgb(90, 236, 54), rgb(230, 241, 62));
}

.title{
  background-image: linear-gradient(180deg, white, white, white, rgb(65, 63, 63));
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  
}

.embla{
  /* overflow: hidden; */
  border: 0px;
}

.embla__container{
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}



.slides{
  padding: 0 8px;
}

.dropdown{
 border: 2px solid rgb(69, 69, 201);
 border-radius: 100%;
 top: 10px;
 background-color: white;
 display: none;
}



@media (width >= 860px) {
  #mobile-nav{
    display: none;
  }
}

@media (width <= 860px) {
  .home-nav{
    display: none;
    
  }
  .dropdown{
    display: block;
  }
 

  .avatar-user, .icon-avt{
    display: none;
  }

  .logo-div{
    border-radius: 100%;
  }
  .gallery, .support{
    display: none;
  }
}

@media (width <= 525px) {
  .carousel-slide{
    width: 18rem;
  }

  .slides{
    padding-right: 1px;
  }

}